<!DOCTYPE html>
<html>
  <head>
    <title>Power Share | FAQs</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Power Share</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/?hs=es">Español <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#team">Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Title -->
    <div class="container padding-top-small padding-bottom-small">
      <h1>FAQs [coming soon!]</h1>
    </div>

    <!-- Technology -->
    <div class="container padding-bottom-small" id="technology">
      <h2 class="padding-bottom-tiny">Technology</h2>

      <h3>How does it work?</h3>
      <p>It works like this.</p>

      <h3>Where is the equipment made?</h3>
      <p>From here.</p>

      <h3>Is it safe?</h3>
      <p>See <a href="#safety">Safety.</a></p>
    </div>


    <!-- Finances -->
    <div class="container padding-bottom-small" id="finances">
      <h2 class="padding-bottom-tiny">Finances</h2>

      <h3>How much money do I expect to make?</h3>
      <p>A lot.</p>

      <h3>I am a consumer. How do I pay for it?</h3>
      <p>It works like this.</p>

      <h3>I am a business. How do I pay for it?</h3>
      <p>From here.</p>
    </div>
  

    <!-- Legal -->
    <div class="container padding-bottom-small" id="legal">
      <h2 class="padding-bottom-tiny">Legal</h2>

      <h3>Is it legal?</h3>
      <p>See here.</p>

      <h3>What happens if the equipment breaks?</h3>
      <p>We take a look at it.</p>

    </div>


    <!-- Safety -->
    <div class="container padding-bottom-small" id="safety">
      <h2 class="padding-bottom-tiny">Safety</h2>

      <h3>Is it safe?</h3>
      <p>Yes.</p>

    </div>


    <div class="footer">
      <div class="container padding-top-small padding-bottom-small">
        <div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </body>

<script src='packages/jquery/dist/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/packages/parallax.js-1.5.0/parallax.js"></script>

</html>