<!DOCTYPE html>
<html>
  <head>
    <title>Power Share | Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Power Share</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/?hl=es">Español <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>




    <!-- Intro block-->
    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/stock/blue-sky-panels.jpg" data-speed="0.7">
      <div class="container white-font text-left padding-top-medium padding-bottom-medium">

        <div class="row padding-bottom-small">
          <div class="col">
            <!-- TODO add padding/margin -->
            <h1 class="font-weight-bold">Bringing Power Back to the Community</h1>
          </div>
        </div>

        <div class="row padding-bottom-small">
          <div class="col">
            <!-- TODO add padding/margin -->
            <p class="font-weight-bold">Power Share is an online platform that enables households to
              sell electricity to their neighbors at fair market prices. 
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- TODO add padding/margin -->
            <a href="/contact"><button type="button" class="btn btn-success btn-lg">Get Started Today!</button></a>

          </div>
        </div>

      </div>
    </div>




    <!-- How it Works block -->
    <div>
      <div class="container text-center padding-top-medium padding-bottom-medium">

        <!-- Title -->
        <div class="row ">
          <div class="col">
              <!-- TODO add padding/margin -->
              <h1 class="font-weight-bold padding-bottom-small">How It Works</h1>
          </div>
        </div>


        <!-- Columns -->
        <div class="row">

          <!-- House A -->
          <div class="col">

            <div class="row padding-bottom-small">
              <div class="col">
                <img src="/images/icons/solar-panel.png">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font-weight-bold">House A produces extra power</p>
              </div>
            </div>
          </div>

          <!-- Equipment -->
          <div class="col">

              <div class="row padding-bottom-small">
                <div class="col">
                  <img src="/images/icons/electricity.png">
                </div>
              </div>

              <div class="row padding-bottom-small">
                <div class="col">
                  <p class="font-weight-bold">Equipment Power Share's embedded systems and algorithms keep track of power transmitted between two houses</p>
                </div>
              </div>

              <div class="row">              
                  <div class="col padding-bottom-small">
                    <a href="/faqs#technology"><button type="button" class="btn btn-primary btn-lg">Learn More</button></a>
                  </div>
              </div>

            </div>

            <!-- House B -->
          <div class="col">

              <div class="row padding-bottom-small">
                <div class="col">
                  <img src="/images/icons/house.png">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="font-weight-bold">House B pays a cheaper price for electricity than the market price</p>
                </div>
              </div>
          </div>

        </div>

      </div>
    </div>



    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/stock/family.jpg" data-speed="0.8">
      <div class="container white-font text-left padding-top-medium padding-bottom-medium">

          <div class="row padding-bottom-small">
              <div class="col">
                <!-- TODO add padding/margin -->
                <h1 class="font-weight-bold">Empowering Homes</h1>
              </div>
            </div>
    
            <div class="row padding-bottom-small">
              <div class="col">
                <!-- TODO add padding/margin -->
                <p class="font-weight-bold">Using only the safest and efficient technology, our team is devoted to providing the most convenient
                  experience while helping you pay back your solar equipment faster than you thought possible.
                </p>
              </div>
              <div class="col">

              </div>
            </div>
    
            <div class="row">
              <div class="col">
                <!-- TODO add padding/margin -->
                <a href="/faqs#finances"><button type="button" class="btn btn-primary btn-lg">Learn More</button></a>   
              </div>
            </div>

      </div>
    </div>




    <!-- Team and funding -->
    <div class="container padding-top-medium padding-bottom-small" id="team">

      <!-- Title -->
      <div class="row ">
        <div class="col">
          <!-- TODO add padding/margin -->
          <h1 class="font-weight-bold padding-bottom-small text-center">Meet the Team</h1>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row mx-auto padding-bottom-small">

          <div class="col mx-auto padding-bottom-small">
            <div class="card team-card mx-auto">
              <img class="card-img-top img-fluid grayscale" src="/images/team/rene.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Rene Garcia</h5>
                <p class="card-text">Chief Executive Officer</p>
                <a href="https://www.linkedin.com/in/ren%C3%A9-garc%C3%ADa-franceschini-409235b4/"><img src="/images/linkedin/Screen/2-Color/In-2C-28px-R.png"></a>
              </div>
            </div>
          </div>

          <div class="col mx-auto padding-bottom-small">
            <div class="card team-card mx-auto">
              <img class="card-img-top img-fluid grayscale" src="/images/team/romeo.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Romeo Flores</h5>
                <p class="card-text">Chief Technology Officer</p>
                <a href="https://www.linkedin.com/in/romeo-flores-612853112/"><img src="/images/linkedin/Screen/2-Color/In-2C-28px-R.png"></a>
              </div>
            </div>
          </div>

          <div class="col mx-auto padding-bottom-small">
            <div class="card team-card mx-auto">
              <img class="card-img-top img-fluid grayscale" src="/images/team/manny.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Emmanuel Perez</h5>
                <p class="card-text">Chief Engineer</p>
                <a href="https://www.linkedin.com/in/emanuel-perez-4079b462/"><img src="/images/linkedin/Screen/2-Color/In-2C-28px-R.png"></a>
              </div>
            </div>
          </div>

        </div>


        <div class="row mx-auto padding-bottom-medium">

          <div class="col mx-auto padding-bottom-small">
            <div class="card team-card mx-auto">
              <img class="card-img-top img-fluid grayscale" src="/images/team/will.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">William Lopez-Cordero</h5>
                <p class="card-text">Business Consultant</p>
                <a href="https://www.linkedin.com/in/william-lopez-cordero-2081b881/"><img src="/images/linkedin/Screen/2-Color/In-2C-28px-R.png"></a>
              </div>
            </div>
          </div>

          <div class="col mx-auto padding-bottom-small">
            <div class="card team-card mx-auto">
              <img class="card-img-top img-fluid grayscale" src="/images/team/kevin.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Kevin Escobar Rodriguez</h5>
                <p class="card-text">Software Developer</p>
                <a href="https://www.linkedin.com/in/kevin-escobar-rodriguez-833168127/"><img src="/images/linkedin/Screen/2-Color/In-2C-28px-R.png"></a>
              </div>
            </div>
          </div>
          <!-- extra col-->
          <!-- <div class="col"></div>  -->

        </div>

        <div class="row mx-auto text-center">
          <div class="col padding-bottom-small">
            <a href="http://www.davisprojectsforpeace.org/"><img class="medium-logo" src="/images/logos/projectsforpeace.jpg"></a>
          </div>

          <div class="col padding-bottom-small">
              <a href="http://sandbox.mit.edu/"><img class="medium-logo" src="/images/logos/sandbox.png"></a>
          </div>

        </div>

      </div>
    </div>


    <div class="footer">
      <div class="container padding-top-small padding-bottom-small">
        <p><a href="privacypolicy">Privacy Policy</a></p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </body>

<script src='packages/jquery/dist/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/packages/parallax.js-1.5.0/parallax.js"></script>

</html>