<!DOCTYPE html>
<html>
  <head>
    <title>Power Share</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Power Share</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Español <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
        </ul>
      </div>
    </nav>




    <!-- Intro block-->
    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/blue-sky-panels.jpg">
      <div class="container white-font text-left padding-top-medium padding-bottom-medium">

        <div class="row padding-bottom-small">
          <div class="col">
            <!-- TODO add padding/margin -->
            <h1 class="font-weight-bold">Bringing Power Back to the Community</h1>
          </div>
        </div>

        <div class="row padding-bottom-small">
          <div class="col">
            <!-- TODO add padding/margin -->
            <p class="font-weight-bold">Power Share is an online platform that enables households to
              sell electricity to their neighbors at fair market prices. 
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- TODO add padding/margin -->
            <button type="button" class="btn btn-success btn-lg">Contact Us Today!</button>

          </div>
        </div>

      </div>
    </div>




    <!-- How it Works block -->
    <div>
      <div class="container text-center padding-top-medium padding-bottom-medium">

        <!-- Title -->
        <div class="row ">
          <div class="col">
              <!-- TODO add padding/margin -->
              <h1 class="font-weight-bold padding-bottom-small">How It Works</h1>
          </div>
        </div>


        <!-- Columns -->
        <div class="row">

          <!-- House A -->
          <div class="col">

            <div class="row padding-bottom-small">
              <div class="col">
                <img src="/images/solar-panel.png">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font-weight-bold">House A produces extra power</p>
              </div>
            </div>
          </div>

          <!-- Equipment -->
          <div class="col">

              <div class="row padding-bottom-small">
                <div class="col">
                  <img src="/images/electricity.png">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="font-weight-bold">Equipment Power Share's embedded systems and algorithms keep track of power transmitted between two houses</p>
                </div>
              </div>
            </div>

            <!-- House B -->
          <div class="col">

              <div class="row padding-bottom-small">
                <div class="col">
                  <img src="/images/house.png">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="font-weight-bold">House B pays a chepaer price for electricity than the market price</p>
                </div>
              </div>
            </div>


        </div>

      </div>
    </div>




    <!-- Team and funding -->
    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/solar-panels.jpg">

      <!-- Team -->
      <div class="container text-center white-font padding-top-medium padding-bottom-medium" id=team>
        <h1 class="padding-bottom-small">Meet the Team</h1>

        <div class="row">
            <div class="col">
              <img src="/images/rene.jpeg" class="rounded-circle" alt="Cinque Terre" width="180" height="180"> 

            </div>
            <div class="col">
              <img src="/images/romeo.jpeg" class="rounded-circle" alt="Cinque Terre" width="180" height="180"> 
            </div>
            <div class="col">
              <img src="/images/manny.jpeg" class="rounded-circle" alt="Cinque Terre" width="180" height="180"> 
            </div>
        </div>

        <div class="row">
            <div class="col">
              Rene
            </div>
            <div class="col">
              Romeo
            </div>
            <div class="col">
              Manny
            </div>
        </div>

        <div class="row">
            <div class="col">
              <img src="/images/will.jpeg" class="rounded-circle" alt="Cinque Terre" width="180" height="180"> 
            </div>
            <div class="col">
              <img src="/images/kevin.jpg" class="rounded-circle" alt="Cinque Terre" width="180" height="180"> 
            </div>
        </div>

        <div class="row">
            <div class="col">
              Will
            </div>
            <div class="col">
              Kevin
            </div>
        </div>

        <!-- Funding -->
        <div class="row">
          <div class="col">
            Davis Projects for Peace
          </div>
          <div class="col">
            Sandbox
          </div>
        </div>

      </div>
    </div>




    <!-- Funding -->
    <div class="container text-center">

 
    </div>



    <!-- TODO Create Footer -->
    <div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </body>

<script src='packages/jquery/dist/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/packages/parallax.js-1.5.0/parallax.js"></script>

<!-- 
<!-- Electricity Meter Icon made by DinosoftLabs [https://www.flaticon.com/authors/dinosoftlabs] from www.flaticon.com [www.flaticon.com] -->
</html>